<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
        h1{
            margin: 10px;
        }
        table {
            margin-top: 20px;
        }
        th, td {
            text-align: center;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Aerochat Dashboard</a>
            

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/positive">Postive Links</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/negative">Negative Links</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/neutral">Neutral Links</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/keyword_list">Keywords List</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="toast-container" class="position-fixed top-0 end-0 p-3" style="z-index: 1050;"></div>
    <div class="container">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Link</th>
                    <th>Created Date</th>
                    <th>Is Content Match</th>
                    <th>Is Title Match</th>
                    <th>Action
                </tr>
            </thead>
            <tbody>
                {% for keyword in keywords %}
                <tr>
                    <td>{{ keyword.id }}</td>
                    <td><a href={{ keyword.link }}>{{ keyword.link }}</a></td>
                    <td>{{ keyword.created_date }}</td>
                    <td>{{ keyword.is_content_match }}</td>
                    <td>{{ keyword.is_title_match }}</td>
                    <td>
                        <form id = "sentiment-form-{{ keyword.id }}" onsubmit="event.preventDefault(); updateSentiment({{ keyword.id }})">
                            <input type = "hidden" name = 'keyword_id' value = "{{ keyword.id }}">
                            <select style="display: block; margin: 5px" id="sentiment-{{ keyword.id }}" name = "sentiment">
                                <option value="neutral">Neutral</option>
                                <option value="positive">Positive</option>
                                <option value="negative">Negative</option>
                            </select>
                            <button class="btn btn-success" style="display: block; margin: 5px" type="submit">Submit</button>
                        </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4" class="text-center">No Links available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function updateSentiment(keywordId) {
            console.log('Keyword ID:', keywordId);
            const sentiment = document.getElementById('sentiment-' + keywordId).value;
            const form = document.getElementById('sentiment-form-' + keywordId);
            const formData = new FormData(form);
    
            // Use fetch to send data via POST
            fetch('/updateSentiment', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.status)
                if (data.status === 'success') {
                    // Show a success toast if the update was successful
                    showToast('Success', data.message, 'bg-success');
                    setTimeout(() => {
                        location.reload();  // This will reload the current page
                    }, 3000);
                } else {
                    // Show an error toast if something went wrong
                    showToast('Error', data.message, 'bg-danger');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showToast('Error', 'An unexpected error occurred.', 'bg-danger');
            });
        }
    
        // Function to show the toast notification
        function showToast(title, message, type) {
            const toastContainer = document.getElementById('toast-container');
            const toastElement = document.createElement('div');
            toastElement.classList.add('toast', type);
            toastElement.classList.add('show');
            toastElement.setAttribute('role', 'alert');
            toastElement.setAttribute('aria-live', 'assertive');
            toastElement.setAttribute('aria-atomic', 'true');
            toastElement.innerHTML = `
                <div class="toast-header">
                    <strong class="me-auto">${title}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">${message}</div>
            `;
            toastContainer.appendChild(toastElement);
    
            setTimeout(() => {
                toastElement.classList.remove('show');
                toastContainer.removeChild(toastElement);
            }, 3000);
        }
    </script>
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
